.container {
  background-color: #3e4a5f;
  flex: 2;
  flex-direction: column;
  height: 100%;
}

.table {
  height: 80%;
  width: 90%;
  margin: 10px;
}

.header {
  font-size: 20px;
  color: white;
}

.rows {
  font-size: 16px;
  color: white;
}

.button {
  font-weight: bold;
  background-color: rgba(black, 0.1);
}